@CHARSET "ISO-8859-1"

html{
    background-color: forestgreen;
}

body{

background-image: url(back.png);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: azure;
    height: 1000px;
    width: 1000px;
    
}

.navigation {
background-color: aliceblue;
    background-image: linear-gradient(#003366,#33cccc);
    word-spacing: 40px;

    
}

.navigation a:link {
color: floralwhite;
    
}

.navigation a:visited {
color: floralwhite;
}

.data{
font-style: italic;
    font: 50px arial, sans-serif;
}

.info{
font-style: italic;
    font: 30px Verdana, sans-serif;
}

#aboutme{
    font: 40px arial, sans-serif;
}

#project{
    
    font: 40px arial, sans-serif;
}

#subhead{
    background-color: azure;
    font-style: italic;
    font: 40px Verdana, sans-serif;
}

#text{
    background-color: azure;
    font-style: italic;
    font: 30px arial, sans-serif;
}